/* misEstilos.css - Ramagro */
html {
  scroll-behavior: smooth;
}

body {
  /*background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);*/

  font-size: 18px;

  /* font-family: 'Lato', sans-serif; */
}

.breadcrumb {
  background: none !important;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 14px;
}
.breadcrumb a {
  color: black;
  color: rgba(0, 0, 0, .75);
}
.breadcrumb a:hover {
  color: black;
  color: rgba(0, 0, 0, .9);
}
.breadcrumb>.active {
  color: black;
  color: rgba(0, 0, 0, 1);
} 
#scrollUp {
    background-image: url("../img/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    cursor: pointer;
    position: fixed;
    display: none;
}
.tridimLogo {
    position: absolute;
    top: 85%;
    right: 3%;
/*    animation-name: move-logo;
    animation-duration: 1s;*/
}

/*@keyframes move-logo {*/
  /*from {right: 90%;} to {right: 3%;}*/
/*  from {top: 10%;} to {top: 85%;}
}*/
.inputRight {
  text-align: right;
}
/* Fondo comun a todas las pantallas */
#fondoComun {
  background-color: rgba(255,255,255,.90);
  text-align: left;
  border-radius: 3px;
  margin-top: -5px;
  padding: 2%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}
/* Ocultar spinner al inicio */
#spinnerGuardar {
  display: none;
}
.cellRight {
  text-align: right;
}








/* Desde acá hay que borrar para abajo...  */

.buscarAlgo {
  background: #EBF5FB;
  background: -webkit-linear-gradient(to right,  #EBF5FB ,  #D6EAF8 );
  background: linear-gradient(to right, #EBF5FB, #D6EAF8);
}

.dropdown-item:hover { 
    color: #fff !important;
    background: #007BFF !important; 
}

.formlogin {
  padding: 1% 15% 1% 15%;
}

#registrar {
  background-color: rgba(0,0,0,.85);
  color: white;
  text-align: left;
	border-radius: 5px;
	margin: 1% auto 0 auto;
	padding: 3%;
  position: relative;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}

.registrar2 {
	width: 80%;
  background-color: rgba(0,0,0,.85);
  color: white;
  text-align: left;
	border-radius: 5px;
	margin: 0.1% auto 0 auto;
	padding: 3%;
  position: relative;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}

.mensaje {
  z-index: 1000;
  position: absolute;
  padding: 40px 100px;
  top: 140px;
  left: 20%;
  right: 20%;
}

#guiaReparto { 
  background-color: rgba(255,255,255,.95);
  text-align: left;
  border-radius: 5px;
  padding: 3%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}

.marcoBuscarCli { 
  background-color: rgba(255,255,255,.95);
  text-align: left;
  border-radius: 5px;
  padding: 2%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}

.titulo-tabla {
  display: inline;
}

.titulo-listado {
  display: inline;
}

.tablaListados {
  margin-top: 5px;
}

button#btnAgregarClie {
  margin-right: 2px;
}

.tablaDetalleVisitas {
  margin-top: 1%;
}

#btnGuardarGR, #btnGuardarProd {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

#idGuia, #horaSalida, #horaRetorno, #tablaId {
  text-align: right;
}

#colProducts {
  background-color: rgba(130,188,246,.99);
  border-radius: 5px;
  padding: 3%;
  width: 100%;
}

.inputConValor {
  background-color: rgba(130,188,246,.4); 
}

button#btnAgregarProd {
  margin-left: 160px; 
}

@media screen and (max-width: 992px) {
  button#btnAgregarProd {
    margin-top: 10px;
    margin-left: 230px; 
  }
}

/* Ocultar primera columna de tabla cantidad productos cliente */
#tableCantProdClie th:nth-of-type(1) {
  display: none;
} 

#tableCantProdClie td:nth-of-type(1) {
  display: none;
} 

#tablaBuscarGuia, #tablaBuscarCli, #tableCantProdClie, #tablaMovimDisp, #tablaBuscarVisita tr:hover {
  cursor: pointer;
} 

.buscarDisp {
  margin: auto 0px;
  padding: 10px 0px 5px;
  background: #E7E8E9;
  border-radius: 5px;
}

.buscarMovDisp {
  margin: 0px 0px 13px;
  padding: 10px 0px 5px;
  background: #E7E8E9;
  border-radius: 5px; 
}

.ordenInfoDisp {
  margin: -5px 0px 10px;
}

.tablaDispenser {
  margin-top: 1px;
}

.ordenarPor {
  display: inline;
  margin-right: 10px;
  padding-left: 10px;
}

.filtroInfo {
  display: inline;
  margin-right: 10px;
  padding-left: 5px !important; 
}

.radiosOrden {
  padding-left: 3%;
}

#selectFechas {
  margin-bottom: 20px;
}

div#btnOrdenarDisp, button#btnAgregarDom {
  display: inline;
}

/*button #btnAgregarDom {
  display: inline;
}*/

.btnsBuscarDisp {
  margin-bottom: 10px;
  width: 125px;
}

p.dataMovDispNombCli {
  padding-left: 10px;
  margin-bottom: 0px !important;
}

table#tableMovDisp {
  margin: 15px 0px 25px 20px; 
  width: 95%;
}

hr.hrMovDisp {
  border: 0.5px solid black;
}

.cardMovDisp {
  background: rgba(236, 236, 236, 0.95);
  border-radius: 3px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.cardMovDispModal {
  background: rgba(236, 236, 236, 0.95);
  border-radius: 3px;
  padding-top: 10px;
  margin: 0px 20px 0px 20px;
}

.cardVisitas {
  background: rgba(236, 236, 236, 0.95);
  border-radius: 3px;
  padding-top: 15px;
}

.colTablaOculta {
  display: none !important;
}


.cellCantVisitas {
  text-align: right;
   
}

@media screen and (min-width: 400px) {
  .cellCantVisitas {
    text-align: right;
    margin-left: 5px;
  }
}

@media screen and (min-width: 600px) {
  .cellCantVisitas {
    text-align: right;
    margin-left: 40px;
  }
}

#datosCliDisp {
  background-color: rgba(0,0,0,.75);
  color: white;
  text-align: left;
  border-radius: 5px;
  margin: .70% auto 0 auto;
  padding: 1% 3% 1% 3%;
  position: relative;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
}

.dataMovDisp {
  color: black;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 3px;
  padding-top: 1%;
  padding-left: 5px;
  position: relative;
  /* right: 10px; */
}

.dataGuiaRep {
  padding-left: 10px;
  margin-bottom: 0px;
}

.buscarCliInfoDisp {
  margin: 0px 0px 13px 15px;
  padding: 10px 15px 5px;
  background: #E7E8E9;
  border-radius: 5px; 
  align-content: right;
}

p#ordenBuscarDisp {
  display: inline;
}

div#enviando {
  display: none;
  width: 50%;
}

.columVisitas {
  display: flex;
}