{# Spinner común para guardar  #}

<div class="row mr-auto" id="spinnerGuardar">
	<div class="col d-inline-flex">
		<div class="spinner-border text-warning" role="status">
			<span class="sr-only">Guardando...</span>
		</div>
		<h6 class="font-weight-bold pl-4 pt-2">Guardando...</h6>
	</div>
</div>
